{{define "content"}}
                <form method="POST" action="/admin/configuration" class="needs-validation" novalidate>
                    <div class="row">
                        <!-- General Settings Section -->
                        <div class="col-md-12 grid-margin stretch-card">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">General Settings</h5>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <input type="checkbox" name="daily_summary_enabled" id="daily_summary_enabled" class="form-check-input form-check-flat form-check-primary" {{if eq .Configs.daily_summary_enabled "on"}}checked{{end}}>
                                        <label for="daily_summary_enabled" class="form-check-label">Enable Daily Summary</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Slack Configuration Section -->
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h4 class="card-title">Slack Configuration</h4>
                                    <div class="form-group mb-3">
                                        <label for="slack_app_token" class="form-label">Slack App Token:</label>
                                        <input type="text" name="slack_app_token" id="slack_app_token" class="form-control" value="{{.Configs.slack_app_token}}">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="slack_bot_token" class="form-label">Slack Bot Token:</label>
                                        <input type="text" name="slack_bot_token" id="slack_bot_token" class="form-control" value="{{.Configs.slack_bot_token}}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Zendesk Configuration Section -->
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h4 class="card-title">Zendesk Configuration</h4>
                                    <div class="form-group mb-3">
                                        <label for="zendesk_api_key" class="form-label">Zendesk API Key:</label>
                                        <input type="text" name="zendesk_api_key" id="zendesk_api_key" class="form-control" value="{{.Configs.zendesk_api_key}}">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="zendesk_subdomain" class="form-label">Zendesk Subdomain:</label>
                                        <input type="text" name="zendesk_subdomain" id="zendesk_subdomain" class="form-control" value="{{.Configs.zendesk_subdomain}}">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="zendesk_email" class="form-label">Zendesk Admin Email:</label>
                                        <input type="email" name="zendesk_email" id="zendesk_email" class="form-control" value="{{.Configs.zendesk_email}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="text-end">
                        <button type="submit" class="btn btn-gradient-primary btn-lg">Save Configuration</button>
                    </div>
                </form>
{{end}}
