{{define "content"}}
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">New Ticket Alerts</h4>
        {{if .HasNewTicketData}}
        <canvas id="newTicketChart"></canvas>
        {{else}}
<div class="alert alert-warning" role="alert">
    No data available to display.
</div>
{{end}}
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Ticket Update Alerts</h4>
        {{if .HasTicketUpdateData}}
        <canvas id="ticketUpdateChart"></canvas>
        {{else}}
<div class="alert alert-warning" role="alert">
    No data available to display.
</div>
{{end}}
      </div>
    </div>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">SLA Deadline Alerts</h4>
        {{if .HasSlaDeadlineData}}
        <canvas id="slaDeadlineChart"></canvas>
        {{else}}
<div class="alert alert-warning" role="alert">
    No data available to display.
</div>
{{end}}
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
   // Example data passed via the backend
   const newTicketData = JSON.parse('{{.NewTicketData}}');
  const slaDeadlineData = JSON.parse('{{.SlaDeadlineData}}');
  const ticketUpdateData = JSON.parse('{{.TicketUpdateData}}');

  const ctxNewTicket = document.getElementById('newTicketChart').getContext('2d');
  const ctxSlaDeadline = document.getElementById('slaDeadlineChart').getContext('2d');
  const ctxTicketUpdate = document.getElementById('ticketUpdateChart').getContext('2d');

   // Initialize new ticket chart
   new Chart(ctxNewTicket, {
    type: 'line',
    data: newTicketData,
    options: {
      scales: {
        x: { beginAtZero: true },
        y: { beginAtZero: true }
      }
    }
  });

  // Initialize SLA deadline chart
  new Chart(ctxSlaDeadline, {
    type: 'line',
    data: slaDeadlineData,
    options: {
      scales: {
        x: { beginAtZero: true },
        y: { beginAtZero: true }
      }
    }
  });

  // Initialize Ticket update chart
  new Chart(ctxTicketUpdate, {
    type: 'line',
    data: ticketUpdateData,
    options: {
      scales: {
        x: { beginAtZero: true },
        y: { beginAtZero: true }
      }
    }
  });
</script>

{{end}}
